body{margin:0;
    width:100%;
    font-family: "Times New Roman", Times, serif;}
.header{
        overflow:hidden;
        display: flex;
        height: 60px;
        padding: 1em;
        background-color:#219EFB;
        margin:0;
        width:100%;
        }

.image{width: 50%;
        }
.logo{  margin-left:10px;
        height: 60px;
        border-radius: 5px;
    }

.menu{width: 50%;
    display: flex;
    min-height:60px;}

.menu ul{list-style:none;
        padding-top: 5px;}

.menu ul li{float:left;
            position:relative}
.menu ul li a{  text-decoration:none;
                border-radius: 10px;
                padding:24px 45px 24px 45px;
                border-right:2px #335f81 solid;
                color:#ffffff;
            }
.menu ul li a:hover{background-color:#f0f3f5;
                        color:#219EFB;
                        z-index:999999999999px}

.first{display: flex;
    margin: 0px;
    background-color: rgb(122, 252, 252);
    width:100%}

.first-half{width: 50%;
            padding-top: 200px;
            }
.second-half{width: 50%;}
.second-half img{width:100%;}
h1{padding-left:50px;
    font-size: 50px;
    color:black;
    margin: 0 auto;}

span{
    color:#0d3d61;}

.des{margin: 0 auto;
padding-left:50px;}

.button1{padding-left:50px;
    padding-top: 10px;
    border-radius: 10px;
    }
.order{padding:5px 5px;
    font-size: 20px;
    text-decoration: none;
    color: #f0f3f5;
    font-weight:700;
    background-image: linear-gradient(rgb(108, 142, 175),rgb(9, 43, 77));
    box-shadow: 2px 2px 2px 2px #56cae7;}

.img1{height: 80%;}

.button2{padding-left:50px;
    padding-top: 10px;
    border-radius: 10px;}
.contact{padding:5px 5px;
    font-size: 20px;
    text-decoration: none;
    color: #f0f3f5;
    font-weight:700;
    box-shadow: 2px 2px 2px 2px #56cae7;
    background-image: linear-gradient(rgb(108, 142, 175),rgb(9, 43, 77));}
.mid{background-image: url(images/bg2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    width:100%}
.mid-first-half{width: 50%;
        }
.mid-first-half img{width: 100%;}
.mid-second-half{width: 50%;
                padding-top: 200px}

.recipe{display: inline-block;
        padding-top: 10px;
        background-color: rgb(122, 252, 252);
        width:100%;}
.description{display: inline;
        text-align: center;
        }
.third-sec{display: flex;
            padding-left:12.5%;
            padding-bottom: 10px;}
.one-third{width: 25%;
            padding:10px;
        background-color: #219EFB;
        margin: 1em;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px black;}
.one-third img{width: 100%;}
.one{padding:0px}
footer{text-align: center;
        background-color: rgb(9, 80, 138);
        padding:10px;}
.footer h1{font-weight: 900;
            font-size:40px}
.blue{color: rgb(14, 219, 255);}
